body {
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 20%, #d8d5e7 80%), -moz-linear-gradient(top,  #ffffff 20%, rgb(240,240,240) 80%); 
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,#ffffff), color-stop(80%,#d8d5e7)), -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffffff), color-stop(80%,rgb(240,240,240)));
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 20%,#d8d5e7 80%), -webkit-linear-gradient(top,  #ffffff 20%,rgb(240,240,240) 80%);
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 20%,#d8d5e7 80%), -o-linear-gradient(top,  #ffffff 20%,rgb(240,240,240) 80%);
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 20%,#d8d5e7 80%), -ms-linear-gradient(top,  #ffffff 20%,rgb(240,240,240) 80%);
    background: radial-gradient(ellipse at center,  #ffffff 20%,rgb(190,190,220) 80%), linear-gradient(to bottom,  #ffffff 20%,rgb(230,230,230) 80%);
    background-repeat: no-repeat, no-repeat;
    background-position: center 0, center 1700px;
    background-size: 1550px 1680px, 1550px 2780px;
}
#popup {
    display: none;
    bottom: 7050px;
}
#bodytextChrome {
    color: rgb(150,150,150);
}
#header {
    color: black;
    margin: 10px 0 0 0;
}
#subheader {
    color: rgb(150,150,150);
}
/*LEARN SUBMENU*/
.buttLearn {
    color: rgb(100,100,100);
}
.buttLearn:hover {
    color: rgb(20,119, 214);
}
.buttLearn:active {
    color: rgb(20,119, 214);
}
#currentIntro #currentIntro,
#currentColorArray #currentColorArray,
#currentIntervals #currentIntervals,
#currentScales #currentScales,
#currentChords #currentChords,
#currentMore #currentMore {
    color: black;
}
/*GENERAL COLORS*/
.F {
    color: rgb(170,255,0);
}
.C {
    color: rgb(255,255,11);
}
.G {
    color: rgb(255,198,0);
}
.D {
    color: rgb(255,153,0);
}
.A {
    color: rgb(255,100,0);
}
.E {
    color: rgb(255,0,100);
}
.B {
    color: rgb(219,0,215);
}
.Ab {
    color: rgb(26,142,255);
}
/*TEXT REVISIONS*/
.bodyheader {
    color: black;
    margin: 0 0 22px 0;
}
.bodytext {
    color: rgb(52,52,52);
}
/*DESCRIPTIONS*/
.descriptions {
    width: 583px;
    text-align: left;
    display: inline-block;
    position: relative;
    line-height: 150%;
}
/*TABLE GRAPHICS*/
#fifthsTable {
    font-family: "HelveticaNeue-CondensedBlack",sans-serif;
    font-size: 96px;
    color: white;
    text-align: center;
    line-height: 80px;
    display: inline-block;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}
/*SHOW BUTTONS*/
#show1, #show2, #show3 {
    color: rgb(20,119, 214);
}
#show1:hover, #show2:hover, #show3:hover {
    color: rgb(150,150,150);
}
/*CHORD STRUCTURES*/
#structure {
    margin: 100px 0 0 0;
}
/*'WHAT ARE CHORDS' SECTION*/
#descript1 {
    margin: 0 0 0 100px;
    width: 400px;
    bottom: 95px;
}
.bodyheaderSpecial1 {
    color: black;
    font-family: "HelveticaNeue-UltraLight","HelveticaNeue-Thin",sans-serif;
    font-size: 40px;
    margin: 0 0 22px 0;
    line-height: 40px;
}
#diagonal1 {
    width: 80px;
    height: 700px;
    background: rgb(80,80,80);
    border: 1px solid black;
    position: absolute; left: 220px; top: -67px;
    float: left;
    z-index: -1;
    border-radius: 50px;
    -moz-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    -o-transform: rotate(-34deg);
    -ms-transform: rotate(-34deg);
    transform: rotate(-34deg);
    display: none;
}
/*'MAJOR AND MINOR THIRDS' SECTION*/
#descript2 {
    bottom: 65px;
    margin: 0 25px 0 0;
}
.bodyheaderSpecial2 {
    color: black;
    font-family: "HelveticaNeue-UltraLight","HelveticaNeue-Thin",sans-serif;
    font-size: 40px;
    margin: 0 0 22px 0;
}
#horizontalTop {
    width: 450px;
    height: 80px;
    background: rgb(80,80,80);
    border: 1px solid black;
    position: absolute; right: -20px; top: 807px;
    float: right;
    z-index: -1;
    border-radius: 50px;
    display: none;
}
#horizontalBottom {
    width: 450px;
    height: 80px;
    background: rgb(80,80,80);
    border: 1px solid black;
    position: absolute; right: -20px; top: 724px;
    float: right;
    z-index: -1;
    border-radius: 50px;
    display: none;
}
/*'STRUCTURE' SECTION*/
.structures {
    display: inline-block;
    margin: 30px 0 0 0;
}
.structures td {
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}
#CSmall,#ESmall,#GSmall,#FSmall,#ASmall,#BSmall,#DSmall,#AbSmall {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    font-family: "HelveticaNeue-CondensedBlack",sans-serif;
    font-size: 72px;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}
#CSmall {
    background: rgb(255,255,11);   
}
#ESmall {
    background: rgb(255,0,100);
}
#GSmall {
    background: rgb(255,198,0);   
}
#FSmall,#FTop,#FMiddle,#FBottom {
    background: rgb(170,255,0);
}
#ASmall,#ATop,#AMiddle,#ABottom {
    background: rgb(255,100,0);   
}
#BSmall {
    background: rgb(219,0,215);
}
#DSmall,#DTop,#DMiddle,#DBottom {
    background: rgb(255,153,0);   
}
#AbSmall {
    background: rgb(26,142,255);
}
#Aflat {
    font-size: 48px;
}
/*'INVERSIONS' SECTION*/
#inversions {
    display: inline-block;
    margin: 100px 0 -100px 0;
    width: 982px;
}
#inversions td {
    vertical-align: middle;
    text-align: center;
    padding: 30px;
}
#DTop,#DMiddle,#DBottom {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-family: "HelveticaNeue-CondensedBlack",sans-serif;
    font-size: 100px;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}
#FTop,#FMiddle,#FBottom {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-family: "HelveticaNeue-CondensedBlack",sans-serif;
    font-size: 100px;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}
#ATop,#AMiddle,#ABottom {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-family: "HelveticaNeue-CondensedBlack",sans-serif;
    font-size: 100px;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}
.otherText {
    font-family: "HelveticaNeue-CondensedBlack",sans-serif;
    font-size: 48px;
    color: rgb(52,52,52);
}
.emptyRow {
    height: 30px;
}
/*'ONE BIG CIRCLE' SECION*/
#descript3 {
    top: -100px;
    margin: 0 0 0 25px;
}
#bigCircle {
    position: relative; top: 200px;
}
#canvasBigCircle {
    display: inline-block;
    position: relative; top: 200px;
}
#diagonal2 {
    width: 80px;
    height: 700px;
    background: rgb(80,80,80);
    border: 1px solid black;
    position: absolute; left: 164px; bottom: 912px;
    float: left;
    z-index: -1;
    border-radius: 50px;
    -moz-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    -o-transform: rotate(-34deg);
    -ms-transform: rotate(-34deg);
    transform: rotate(-34deg);
    display: none;
}
/*FOOTER SECTION*/
#nextArrow {
    float: right;
    position: absolute; bottom: 60px; right: 10px;
}
#pastArrow {
    float: left;
    position: absolute; bottom: 60px; left: 10px;
}
#footer {
    color: rgb(52,52,52);
    font-size: 20px;
    width: 600px;
    text-align:center;
    vertical-align: middle;
    display: inline-block;
    line-height: 120%;
    margin: 50px 0 50px 0;
}


