.noUi-handle {outline:none;}

#canvas-container {
  width: 610px;
  margin: auto;
}

#light-slider, #velocity-slider {
  margin: auto;
  width: 80%;
  left: 40px;
  height: 20px;
}
#velocity-slider {
  margin-top: 10px;
}
